<!-- Config file for the game -->

<config>
  <app cap_frames="false" framerate_cap="60">
    <title>Dev Game</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <map>
    <folder>maps/</folder>
  </map>

  <scene>
    <map_name name="Level1.tmx"></map_name>
    <map_name name="map1.tmx"></map_name>
    <fade_time value="100"/>
  </scene>

  <entityFactory>
    <folder>textures/player</folder>
    <sprite>homeless_SpriteSheet.png</sprite>

    <player>

      <movement_speed value="5.0f"/>
      <jump_speed value="30.0f"/>
      <gravity value="2.0f"/>
      <acceleration value="0.1f"/>
      <fall_speed value="30.0f"/>
      <threshold value="0.5f"/>



      <animations>
          <frame id ="1" x="17" y="45" w ="16" h="28"/> <!--IDLE-->
          <frame id ="1" x="67" y="44" w ="16" h="29"/>
          <frame id ="1" x="117" y="44" w ="17" h="29"/>
          <frame id ="1" x="167" y="45" w ="16" h="28"/>
        
          <frame id ="2" x="20" y="9" w ="17" h="27"/> <!--RUN-->
          <frame id ="2" x="70" y="10" w ="16" h="26"/>
          <frame id ="2" x="119" y="13" w ="17" h="23"/>
          <frame id ="2" x="169" y="9" w ="21" h="27"/>
          <frame id ="2" x="218" y="10" w ="18" h="26"/>
          <frame id ="2" x="268" y="12" w ="18" h="24"/>

          <frame id ="3" x="21" y="85" w ="17" h="23"/>> <!--DIE //TEST-->
          <frame id ="3" x="70" y="85" w ="18" h="23"/>>
          <frame id ="3" x="108" y="82" w ="20" h="24"/>>
          <frame id ="3" x="159" y="82" w ="21" h="24"/>>
          <frame id ="3" x="214" y="89" w ="17" h="17"/>>
          <frame id ="3" x="265" y="90" w ="16" h="16"/>>

      </animations>
    </player>
    
  </entityFactory>
  
</config>