<!-- Config file for the game -->

<config>
  <app cap_frames="true" framerate_cap="30">
    <title>Dev Game</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <map>
    <folder>maps/</folder>
  </map>

  <scene>
    <map_name name="Level1.tmx"></map_name>
    <map_name name="Level2.tmx"></map_name>
    <fade_time value="2"/>
  </scene>

  <gui>
    <atlas file ="textures/ui/atlas.png"></atlas>
  </gui>
  
  <entityFactory>
   

    <enemy>

      <folder>textures/enemies</folder>
   
      <sprite>enemy.png</sprite>

      <movement_speed value="270.0f"/>
      <jump_speed value="3000.0f"/>
      <gravity value="216.0f"/>
      <acceleration value="1.1f"/>
      <fall_speed value="1700.0f"/>
      <bounce_speed value ="40000"/>

      <animations>
        <!--IDLE-->
        <frame id ="1" x="28" y="23" w ="52" h="41"/>
        <frame id ="1" x="124" y="22" w ="52" h="42"/>
        <frame id ="1" x="220" y="22" w ="52" h="42"/>
        <frame id ="1" x="316" y="23" w ="52" h="41"/>
        <frame id ="1" x="412" y="23" w ="52" h="41"/>

      </animations>

    </enemy>
    <FlyingEnemy>

      <folder>textures/enemies</folder>
      <sprite>flyingenemy.png</sprite>


      <movement_speed value="270.0f"/>
      <acceleration value="1.1f"/>


      <animations>
        <!--IDLE-->
        <frame id ="1" x="4" y="7" w ="31" h="26"/>
        <frame id ="1" x="49" y="6" w ="29" h="27"/>
        <frame id ="1" x="90" y="8" w ="28" h="28"/>
        <frame id ="1" x="131" y="6" w ="30" h="28"/>
        <frame id ="1" x="6" y="49" w ="27" h="28"/>
        <frame id ="1" x="48" y="49" w ="27" h="28"/>
        <frame id ="1" x="89" y="49" w ="31" h="27"/>
        <frame id ="1" x="133" y="49" w ="28" h="27"/>


      </animations>

    </FlyingEnemy>

    <collectable>

      <folder>textures/ui</folder>
      <sprite>atlas.png</sprite>

      <animations>
        <frame x="0" y="664" w ="14" h="14"/>
        <frame x="16" y="664" w ="11" h="14"/>
        <frame x="30" y="664" w ="5" h="14"/>
        <frame x="38" y="664" w ="11" h="14"/>
        <frame x="51" y="664" w ="14" h="14"/>
        <frame x="67" y="664" w ="14" h="14"/>
        <frame x="81" y="664" w ="5" h="14"/>
        <frame x="89" y="664" w ="11" h="14"/>
      </animations>
    </collectable>
    <player>
      
      <folder>textures/player</folder>
      <sprite>adventurer-v1.5-Sheet.png</sprite>
      
      
      <movement_speed value="270.0f"/>
      <jump_speed value="1700.0f"/>
      <gravity value="216.0f"/>
      <acceleration value="1.1f"/>
      <fall_speed value="1700.0f"/>
      <bounce_speed value ="40000"/>


      <animations>

        <frame id ="1" x="14" y="7" w ="19" h="29"/> <!--IDLE-->
        <frame id ="1" x="66" y="6" w ="17" h="30"/>
        <frame id ="1" x="115" y="6" w ="19" h="30"/>
        <frame id ="1" x="163" y="7" w ="20" h="29"/>

        <frame id ="2" x="67" y="45" w ="20" h="28"/> <!--RUN-->
        <frame id ="2" x="116" y="46" w ="20" h="27"/>
        <frame id ="2" x="166" y="49" w ="20" h="25"/>
        <frame id ="2" x="217" y="45" w ="23" h="28"/>
        <frame id ="2" x="266" y="45" w ="20" h="27"/>
        <frame id ="2" x="316" y="48" w ="20" h="25"/>

        <frame id ="3" x="117" y="81" w ="19" h="27"/>><!--JUMP-->
        <frame id ="3" x="164" y="79" w ="21" h="23"/>>

        <frame id ="4" x="68" y="112" w ="17" h="31"/>> <!--FALL-->
        <frame id ="4" x="118" y="113" w ="17" h="30"/>>

        <frame id ="5" x="218" y="81" w ="15" h="21"/>> <!--NO_MOMENTUM-->

        <frame id ="6" x="155" y="132" w ="34" h="15"/>> <!--DASH-->
        <frame id ="6" x="205" y="132" w ="34" h="15"/>>
        <frame id ="6" x="255" y="131" w ="34" h="16"/>>
        <frame id ="6" x="309" y="130" w ="30" h="17"/>>


        <frame id ="7" x="218" y="81" w ="15" h="21"/>> <!--BOUNCE-->
        <frame id ="7" x="264" y="84" w ="24" h="17"/>>
        <frame id ="7" x="320" y="84" w ="18" h="21"/>>
        <frame id ="7" x="11" y="124" w ="26" h="17"/>>

        <frame id ="8" x ="71" y="151" w="14" h="34"/>> <!--WALL-->
        <frame id ="8" x ="121" y="151" w="15" h="34"/>>
        <frame id ="8" x ="171" y="151" w="14" h="34"/>>
        <frame id ="8" x ="221" y="151" w="14" h="34"/>>


      </animations>
    </player>
    
  </entityFactory>
  
</config>